<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38913838556-gaddefg82r1vhs3gidk5nkgrg04s7mrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38913838556-gaddefg82r1vhs3gidk5nkgrg04s7mrg</string>
	<key>API_KEY</key>
	<string>AIzaSyCFcnE7NC-Nttttpfr4Ujtm4AFghus4JBU</string>
	<key>GCM_SENDER_ID</key>
	<string>38913838556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.circleride.app</string>
	<key>PROJECT_ID</key>
	<string>circleride</string>
	<key>STORAGE_BUCKET</key>
	<string>circleride.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38913838556:ios:23baff7de34f4a93c55319</string>
	<key>DATABASE_URL</key>
	<string>https://circleride-6cc1e.firebaseio.com</string>
</dict>
</plist>